<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Zoo</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

      <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

      <script type='text/javascript' src='/javascripts/script.js'></script>
  </head>
  <body>
