body {
  background-color: #FCEBCE;
  color: #414141;
}
h2 {
  color: #3A4248;
  margin-left: 5px;
}
div {
  background-color: #9CA5B6;
  border: 1px solid;
  border-color: #B99D71;
  border-radius: 5px;
  float: left;
  height: 298px;
  margin: 5px;
  overflow: auto;
  padding: 8px;
  text-align: center;
  width: 216px;
}
img {
  max-height: 200px;
  max-width: 200px;
  min-width: 200px;
}
.editImage {
  border-radius: 10px;
  margin-left: 22px;
}
.fence {
  background-color: #9CA5B6;
  background-image: url('/pictures/fence.jpg');
  border: none;
  border-color: none;
  border-radius: none;
  clear: both;
  float: left;
  height: 33px;
  margin: 0px;
  overflow: auto;
  padding: 0px;
  padding-bottom: 0px;
  text-align: center;
  width: 100%;
}
.newZoos {
  margin: 2px;
  padding: 2px;
}
.seperateFence {
  background-color: #9CA5B6;
  background-image: url('/pictures/fenceHorizontal.jpg');
  border: none;
  border-color: none;
  border-radius: none;
  float: left;
  height: 325px;
  margin: 0px;
  text-align: center;
  overflow: auto;
  padding: 0px;
  padding-bottom: 0px;
  width: 15px;
}