body {
  background-color: #FCEBCE;
  color: #414141
}

h2 {
  color: #3A4248;
  margin-left: 5px;
}

div {
  float: left;
  border: 1px solid;
  border-color: #B99D71;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  background-color: #9CA5B6;
  margin: 5px;
  width: 216px;
  height: 298px;
  overflow: auto;
}

img {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
}

.newZoos {
  padding: 2px;
  margin: 2px;
}

.editImage {
  margin-left: 22px;
  border-radius: 10px;
}